@charset "utf-8";

html {
	font: 12px '宋体';
}

a {
	color: #000;
}

.top {
	background-color: #f7f7f7;
	height: 26px;
	border-bottom: 1px solid #d8d8d8;
}

.top_page {
	width: 970px;
	height: 26px;
	margin: 0 auto;
}

.top_page_l {
	line-height: 26px;
}

.top_page_r ul li {
	float: left;
	line-height: 26px;
	padding-left: 10px;
}

.top_page_r ul li s {
	width: 14px;
	height: 12px;
	background: url(../image/sprite.png);
	display: inline-block;
	vertical-align: middle;
}

.logo {
	width: 970px;
	height: 98px;
	margin: 0 auto;
}

.logo_l {
	width: 200px;
	height: 55px;
	margin: 24px 0 19px 9px;
	background: url(../image/sprite.png) -20px 0;
	text-indent: -1000em;
}

.logo_r {
	width: 530px;
	height: 42px;
	border: 1px solid #c9c9c9;
	margin-top: 29px;
}

.logo_r .content {
	padding: 5px 5px 5px 4px;
}

.logo_r .logo_r_search {
	width: 420px;
	height: 28px;
	color: #999999;
	border: 1px solid #c9c9c9;
}

.logo_r .logo_r_btn {
	width: 99px;
	height: 30px;
	color: white;
	background-color: #2f70d0;
}

.nav {
	width: 970px;
	height: 25px;
	margin: 0 auto;
	border-bottom: 2px solid #0266a3;
}

.nav ul li {
	float: left;
	padding: 0 15px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}

.nav ul li a {
	color: #0266a3;
}

.nav ul li:hover {
	background-color: #0266a3;
}

.nav ul li:hover a {
	color: #fff;
}

.banner {
	width: 970px;
	height: 210px;
	margin: 0 auto;
	margin-top: 10px;
}

.subnav {
	width: 200px;
	height: 210px;
	margin-right: 11px;
}

.ad {
	width: 520px;
	height: 210px;
	background: url(../image/1.gif);
}

.message {
	width: 230px;
	height: 210px;
}

.subnav ul {
	background-color: #ebf0f6;
	height: 180px;
}

.subnav h2 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #0266a3;
	padding-left: 20px;
}

.subnav s {
	width: 15px;
	height: 13px;
	display: inline-block;
	background: url(../image/sprite.png) -225px 0;
	vertical-align: middle;
}

.subnav li {
	font-size: 15px;
	padding-top: 11px;
	padding-left: 9px;
}

.subnav li a {
	padding-left: 15px;
}

.message_top {
	height: 95px;
	border: 1px solid #dddddd;
	background-color: #f7faff;
}

.message_top s {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../image/sprite.png) -250px 0;
	margin: 20px 10px 0 10px;
}

.message_top .cheap {
	margin-top: 25px;
}

.message_top .cheap a {
	font-weight: bold;
}

.message_top .fw {
	font-weight: bold;
	margin-top: 7px;
	margin-left: 18px;
}

.message_bottom {
	height: 92px;
	background-color: #f7f7f7;
	margin-top: 21px;
}

.message_bottom .msg_1 {
	text-align: center;
	font-size: 14px;
	padding-top: 11px;
}

.message_bottom .msg_2 {
	text-align: center;
	color: #3f9ce0;
	padding-top: 10px;
}

.message_bottom .msg_2 s {
	display: inline-block;
	width: 14px;
	height: 17px;
	background: url(../image/sprite.png) -225px -30px;
	vertical-align: middle;
}

.message_bottom .msg_3 {
	width: 81px;
	height: 23px;
	background: url(../image/sprite.png) -295px 0;
	margin: 9px auto auto 75px;
}

.material {
	width: 950px;
	height: 34px;
	line-height: 34px;
	border-top: 2px solid #c3d7e4;
	margin: 0 auto;
	margin-top: 14px;
	background-color: #ecf1f7;
	font-weight: bold;
	font-size: 14px;
	padding-left: 20px;
}

.product {
	width: 970px;
	height: 345px;
	margin: 0 auto;
	margin-top: 12px;
}

.product .product_l {
	width: 729px;
	height: 345px;
	border: 1px solid #d8d8d8;
}

.product .product_l .product_l_top {
	height: 155px;
	width: 702px;
	padding-top : 17px;
	padding-left: 26px;
}

.product .product_l .product_l_top .product_l_t_product1 {
	width: 345px;
	height: 146px;
}

.product .buy {
	width: 99px;
	height: 143px;
}

.product .buy .img {
	height: 100px;
	border: 1px solid #cacaca;
}

.product .buy .img s {
	display: inline-block;
	width: 90px;
	height: 62px;
	margin: 10px 4px 0 3px;
	background: url(../image/sprite.png) 0 -70px;
}

.product .buy .btn {
	width: 99px;
	height: 26px;
	background-color: #0a84e3;
	color: white;
	margin-top: 15px;
}

.product .explain {
	width: 245px;
	height: 143px;
}

.product .explain .good_wife {
	font-size: 14px;
	padding: 10px 0 0 10px;
}

.product .explain .auto {
	color: #863e01;
	padding: 13px 0 0 15px;
}

.product .explain .money {
	padding: 23px 0 0 11px;
}

.product .explain .money span {
	color: red;
}

.product .explain .money s {
	text-decoration: line-through;
}

.product .explain .buyed {
	font-size: 14px;
	padding: 28px 0 0 11px;
}

.product .product_l_line {
	border: 1px solid #ccc;
	margin: 0 4px;
}

.product .product_r {
	width: 230px;
	height: 345px;
	border: 1px solid #e0e6f0;
}

.product_r h2 {
	height: 28px;
	line-height: 28px;
	padding-left: 15px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #f7f7f7;
}

.product_r ul {
	padding-top: 11px;
}

.product_r li {
	line-height: 23px;
	padding-left: 15px;
}

.link {
	width: 970px;
	height: 103px;
	margin: 0 auto;
	margin-top: 11px;
	border-top: 1px solid #dddddd;
	border-bottom: 3px solid #0a7ec3;
	color: #666;
}

.link .link_1 {
	padding-top: 30px;
}

.link .link_2 {
	padding-top: 10px;
	padding-left: 61px;
}

.about {
	height: 91px;
	width: 970px;
	margin: 0 auto;
}

.about p {
	margin-top: 14px;
	text-align: center;
}